<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/farmers" routerLinkActive="active">Farmers</a>
      <a class="nav-item nav-link" routerLink="/employee" routerLinkActive="active">Employee</a>
      <a class="nav-item nav-link btn btn-link">Logout</a>
  </div>
</nav>

<div class="app-container bg-light">
  <router-outlet></router-outlet>
</div>